// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.me
  background-image url(../images/me.png)
  background-size contain
  width 4em
  height 4em
  border-radius 2em

.light-bg
  background-color white
  color #333 !important
  code[class*="language-"], pre[class*="language-"]
    color #333 !important
    .token.operator
    .token.punctuation
      color #555 !important
  &.bespoke-backdrop-active
    opacity 1

.pin
  position absolute
  left 0
  right 0
  &.top
    top 10%
  &.bottom
    bottom 10%

.year-range
  color: #aaa;
  font-size: 0.75em;
  float: right;
  margin-left: 1em;
  line-height: 2em;

.italic
  font-style: italic;
  text-transform: none;
  font-family: didot,times new roman,serif;

.tiny-code
  code[class*="language-"], pre[class*="language-"]
    font-size 0.8em
    line-height 1
